.login-form {
    margin-top: 40px;;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.inicio {
    width: 100%;
}
