<div nz-row nzJustify="center">
    <div nz-col nzXs="18" nzSm="12" nzMd="10" nzLg="8" nzXl="6">
        <form nz-form [formGroup]="validateForm" (keyup)="updateState()" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor introduzca su usuario!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" placeholder="Usuario" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor introduzca su contraseña!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="!validForm">Ingresar</button>
            <a nz-button nzType="link" class="inicio" routerLink="/">Ir al Inicio</a>
        </form>
    </div>
</div>