.layout {
    min-height: 100vh;
}

nz-header {
    position: fixed;
    width: 100%;
    padding: 0 10px;
    z-index: 1000;
}

[nz-menu] {
    line-height: 60px;
}

nz-content {
    padding: 0 0px;
    margin-top: 64px;
}

.inner-content {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    min-height: calc(100vh - 16px - (64px * 2));
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
}

nz-footer {
    text-align: center;
}

.juan {
    width: 100%;
}

nz-avatar {
    color: red;
    cursor: pointer;
}