<!-- popup to show user info -->
<ng-template #contentTemplate>
    <nz-list>
        <div nz-col>
            <nz-list-item>
                <nz-list-item-meta nzDescription="Email:">
                    <nz-list-item-meta-title>
                        {{ user ? user.email : '' }}
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item>
                <nz-list-item-meta nzDescription="Celular:">
                    <nz-list-item-meta-title>
                        {{ user ? user.phone : '' }}
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
        </div>
    </nz-list>
</ng-template>

<!-- General layout -->
<nz-layout class="layout">
    <nz-header>
        <div nz-row>
            <!-- Menu -->
            <ul nz-col nzXs="4" nzSm="3" nzMd="3" nzLg="2" nzXl="2" nz-menu nzMode="horizontal" nzTheme="dark">
                <li nz-submenu nzIcon="menu" *ngIf="logged">
                    <ul>
                        <li nz-menu-item (click)="goto(permiso.code)" *ngFor="let permiso of permisos">
                            <i nz-icon nzType="codepen" style="font-size: 1.6em;"></i>
                            {{ permiso.permiso }}
                        </li>
                    </ul>
                </li>
            </ul>
            <div nz-col [nzXs]="{ span: 6, offset: 14 }" [nzSm]="{ span: 5, offset: 16 }"
                [nzMd]="{ span: 3, offset: 18 }" [nzLg]="{ span: 3, offset: 19 }" [nzXl]="{ span: 2, offset: 20 }" style="text-align: end;">
                <!-- Login button -->
                <button *ngIf="!logged" nz-button nzType="primary" nzShape="circle" routerLink="/login">
                    <i nz-icon nzType="login"></i>
                </button>
                <nz-space [nzSize]="'middle'">
                    <nz-space-item>
                        <!-- User avatar -->
                        <nz-avatar *ngIf="logged" nzSize="large" nzIcon="user" nz-popover [nzPopoverTitle]="user ? user.name : ''"
                            [nzPopoverContent]="contentTemplate" nzPopoverPlacement="topRight" nzPopoverTrigger="hover">
                        </nz-avatar>
                    </nz-space-item>
                    <nz-space-item>
                        <!-- Logout button -->
                        <button *ngIf="logged" nz-button nzType="accent" nzShape="circle" (click)="logout()">
                            <i nz-icon nzType="logout"></i>
                        </button>
                    </nz-space-item>
                </nz-space>
            </div>
        </div>
    </nz-header>
    <!-- Content -->
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <!-- Footer -->
    <nz-footer>Developed by Kishron SAS</nz-footer>
</nz-layout>