[nz-carousel-content] {
    text-align: center;
    height: 160px;
    max-height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
  }

  h4 {
    margin: 16px 0;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
  }

  h4:first-child {
    margin-top: 0;
  }

  [nz-button] {
    margin: 0 4px;
  }

  nz-button-group {
    margin-bottom: 8px;
    margin-right: 8px;
  }