<nz-input-group [nzSuffix]="suffixIconSearch">
    <input #search (input)="onSearch(search.value)" type="text" nz-input placeholder="Buscar producto" />
</nz-input-group>
<ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
</ng-template>
<nz-collapse>
    <nz-collapse-panel *ngFor="let producto of productosFiltrados" [nzHeader]="producto.nombre"
        [nzActive]="producto.active" [nzExtra]="extraTpl" [nzDisabled]="producto.disabled">
        <div nz-row style="display: flex; justify-content: center; align-items: center;">
            <div nz-col nzSpan="12">
                <nz-list nzBordered nzSize="small">
                    <nz-list-header style="font-weight: 900;">Presentaciones</nz-list-header>
                    <nz-list-item *ngFor="let presentacion of producto.presentaciones">
                        {{ presentacion.nombre }}
                    </nz-list-item>
                </nz-list>
            </div>
            <nz-carousel nz-col nzSpan="12" [nzEffect]="effect" nzAutoPlay>
                <div nz-carousel-content *ngFor="let index of producto.allFotos"
                    style="display: flex; justify-content: center; align-items: center;">
                    <div style="border: 1px red solid; background-color: grey;">
                        <img style="max-height: 160px;" src="assets/imgs/productos/{{ index.url }}">
                    </div>
                </div>
            </nz-carousel>
        </div>

    </nz-collapse-panel>
</nz-collapse>
<ng-template #extraTpl>
    <!-- You can use stopPropagation if you don't want the panel to toggle -->
    <!-- <i nz-icon nzType="setting" (click)="$event.stopPropagation()"></i> -->
    <button nz-tooltip nzTooltipTitle="Presentaciones" nz-button nzType="default" (click)="presentaciones($event)">
        <i nz-icon nzType="appstore"></i>
    </button>
    <button nz-tooltip nzTooltipTitle="Editar" nz-button nzType="default" (click)="openComponent($event)">
        <i nz-icon nzType="edit"></i>
    </button>
    <button nz-tooltip nzTooltipTitle="Borrar" nz-button nzDanger nzType="default" (click)="showDeleteConfirm($event)">
        <i nz-icon nzType="delete"></i>
    </button>
</ng-template>