<!-- <div nz-row nzJustify="center" class="img-container">
    <div nz-col nzXs="18" nzSm="12" nzMd="8" nzLg="5" nzXl="5">
        <img src="../../assets/imgs/55251093_s.jpg">
    </div>
</div>
<div nz-row nzJustify="center">
    <div nz-col nz-col nzXs="18" nzSm="12" nzMd="8" nzLg="5" nzXl="5" >
        <div class="title">Sistema de Control de Inventario</div>
    </div>
</div>
<div nz-row nzJustify="center">
    <div nz-col nz-col nzXs="22" nzSm="14" nzMd="10" nzLg="6" nzXl="6" >
        <div class="content">
            Este sistema informático facilita la logística propia de un inventario permanente.
            Permite conocer las existencias en bodega en todo momento y gestionar los repartidores
            y sus encargos de manera eficiente.

        </div>
    </div>
</div> -->

<div nz-row nzAlign="middle" class="img-container">
    <div nz-col [nzXs]="{ span: 18, offset: 3 ,order: 1 }" [nzSm]="{ span: 10, offset: 0 ,order: 3 }" [nzMd]="{ span: 8, offset: 4, order: 3 }"
        [nzLg]="{ span: 6, offset: 5, order: 3 }" [nzXl]="{ span: 4, offset: 6, order: 3 }">
        <img src="assets/imgs/55251093_s.jpg">
    </div>

    <div nz-col [nzXs]="{ span: 20, offset: 2, order: 2 }" [nzSm]="{ span: 20, offset: 2, order: 1 }" [nzMd]="{ span: 16, offset: 4, order: 1 }"
        [nzLg]="{ span: 12, offset: 6, order: 1 }" [nzXl]="{ span: 12, offset: 6, order: 1 }">
        <h1 class="title">Sistema de Control de Inventario</h1>
    </div>

    <div nz-col [nzXs]="{ span: 22, offset: 1, order: 3 }" [nzSm]="{ span: 12, offset: 0, order: 4 }" [nzMd]="{ span: 8, offset:0, order: 4 }"
        [nzLg]="{ span: 8, offset:0, order: 4 }" [nzXl]="{ span: 8, offset:0, order: 4 }">
        <div class="content">
            Este sistema informático facilita la logística propia de un inventario permanente.
            Permite conocer las existencias en bodega en todo momento y gestionar los repartidores
            y sus encargos de manera eficiente.
        </div>
    </div>
</div>