
.img-container {
    margin-top: 0;

    img {
        width: 100%;
    }
}

.title {
    text-align: center;
    line-height: 1em;
}

.content {
    text-align: justify;
    font-size: 1.2em;;
    line-height: 1.2em;
    margin-top: 1em;
}